$primaryColor: #2b32b2;
$primaryLight: #1488cc;
$primaryDark: #000680;

$padding: 15px;
$border: 15px;

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}
body {
  font-family: "Lato";

  #bg {
    clip-path: polygon(100% 0, 100% 81%, 49% 100%, 0 100%, 0 0);
    background-color: $primaryColor;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;

    @include desktop {
      clip-path: polygon(0 0, 79% 0, 55% 100%, 0% 100%);
    }
  }

  header a {
    color: white;
    text-decoration: none;
    padding: $padding;
    display: block;
    text-transform: uppercase;
  }
}

main {
  @include desktop {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "primary card";
  }

  section#card {
    background: #f2f2f2;
    padding: 20px;
    margin: 1em auto;
    border-radius: $border;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 80%;

    @include desktop {
      grid-area: card;
      height: fit-content;
      align-self: center;
      margin: 1em;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 10px;

        span {
          position: absolute;
          content: "";
          width: 30px;
          height: 30px;
          background-color: $primaryLight;
          border-radius: 50%;
          margin-right: 10px;
        }

        strong {
          display: inline-block;
          margin-left: max(40px);
          margin-top: 5px;
          padding: 2px;
        }
      }
    }
  }
  section#primary {
    color: white;
    padding: $padding;
    text-align: center;

    @include desktop {
      grid-area: primary;
      text-align: left;
      margin: 4em 0 0 4em;
    }

    h1 {
      font-size: 3em;
      margin-top: 10px;
      text-transform: uppercase;

      @include desktop {
        width: 30%;
        font-size: 4em;
        line-height: 0.9em;
      }
    }

    p {
      font-size: 1.4rem;
    }

    a {
      color: $primaryDark;
      border-radius: $border;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      background-color: white;
      display: block;
      text-align: center;
      margin: 50px auto 0 auto;
      padding: $padding;

      @include desktop {
        display: inline-block;
        padding: $padding $padding * 4;
      }
    }
  }
}
